@model CSVToTemplate.Models.Pessoa

@{
    ViewData["Title"] = "Listar";
}

<h1>Lista dos Modelos</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Age)
            </td>
        </tr>

    </tbody>
</table>
