@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container">
        <form class="form-control" asp-action="Convert">
            <div class="form-group">
                <input type="text" name="Name" placeholder="Name" />
            </div>
            <div class="form-group">
                <input type="text" name="Age" placeholder="Age" />
            </div>
            <button> Convert </button>
        </form>
    </div>
</div>
